@model DB3.Models.CompanyModel

@{
    ViewBag.Title = "CompanyDelete";
    Layout = "~/Views/Shared/_Layoutstaff.cshtml";
}



<div>
    <div class="agileits-heading">
        <br /><br />
        <h3>Delete Company </h3>
        <br />
    </div>
    <div class="container-fluid">
        <div style="margin-top:20px;" class="row-fluid">
            <div class="offset4 span4 well">

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Contact)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Contact)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-primary" />
                      
                    </div>
                    <h5>Are you sure you want to delete this?</h5>
                }
                    <div>
                        @Html.ActionLink("Comapny List", "CompanyList")
                    </div>
            </div>
        </div>
</div>
</div>